{% extends 'main/base.html' %}
{% load media_tags %}
{% load custom_filters %}
{%block content %}
<div class="container-fluid">
    <div class="image-container" style="overflow:hidden; height:45vh">
        <div class="d-flex justify-content-center" style="transform:translateY(-15%)">
            <img src="{% mediapath object.preview %}" class="img-fluid" alt=" {{ object.title }}"/>
        </div>
    </div>
</div>
<div class="container mb-5" style="margin-top:3vh;">
    <div class="row justify-content-between">
        <div class="col-4">
            <h2 class="text-nowrap">{{ object.title }} ({{ object.slug }})</h2>
            {% if object.is_published == True %}
            <div class="badge bg-success fs-5 text-wrap mb-2">Опубликовано</div>
            {% else %}
            <div class="badge bg-warning fs-5 text-wrap mb-2">Не опубликовано</div>
            {% endif %}
        </div>
        <div class="col-4 text-end">
            <div class="btn-group mt-2">
                <div class="btn-group">
                    <a href="{% url 'blogpost:edit' object.pk %}" type="button"
                       class="btn btn-outline-primary">Редактировать</a>
                    <a href="{% url 'blogpost:delete' object.pk %}" type="button"
                       class="btn btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="fs-5"> {{ object.content }} </p>
    <div class="footer">
        <p class="fs-5 text-secondary"> Просмотры: {{ object.views_count }}</p>

    </div>

</div>
<div class="container" style="margin-top:10vh;">
    <div class="row justify-content-between">
        <div class="col-4">
            <p class="text-nowrap text-secondary">Дата создания: {{ object.date_of_creation }}</p>
        </div>
    </div>
</div>
{% endblock %}