{% extends 'main/base.html' %}
{% load media_tags %}
{% load custom_filters %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ title }}</h1>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in page_obj %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{% mediapath object.preview %}" class="card-img-top" alt="{{ object.name }}"/>
                    <div class="card-body">
                        <h4><a href="{% url 'main:product' object.pk %}" class="card-title"> {{ object.name }}</a></h4>
                        <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.price|intspace }} руб.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="pagination-container" style="display: flex; justify-content: center">
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page1">&laquo; первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}